doctype html
html    
    head
        link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        title Wetube
    body 
        header 
            h1 WeTube
        main
            block content
        footer
            span &copy; WeTube